<div class="bgimage">
<div class="container-fluid">   
    <div class="card" >
        <div class="card-header" >

            <h1 style="color:#000000;text-align: center; font-family:'Times New Roman', Times, serif;font-size: 400%;">Zmazon</h1>
    
          </div>
      <div class="card-body">

        <h1 style="text-align: center; font-weight: bolder; ">Sign-in</h1>
        <div class="col d-flex justify-content-center">
          
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <div class="boxsize">
      <div class="form-group col-md-10 ">
        <label class="title">Email</label>
        <input type="email" class="form-control box-size" placeholder="abc@gmail.com" formControlName="email">
        <small class="text-danger" *ngIf="f['email'].errors?.['required'] && f['email'].touched">Required field</small>
        </div><br>
      <div class="form-group col-md-7 ">
        <label class="title">Password</label>
      <input formControlName="password" type="password"  class="form-control box-size" placeholder="Enter password" maxlength="20" [class.is-invalid]="f['password'].invalid && f['password'].touched" >
         <!--Error msg for password -->
         <small class="text-danger" *ngIf="f['password'].errors?.['pattern'] && f['password'].touched">Password should have minimum 8 characters, at least 1 uppercase, 1 lowercase, 1 number and a special character</small>
         <small class="text-danger" *ngIf="f['password'].errors?.['blankspace'] && f['password'].touched">no spaces</small>
    </div><pre></pre>
    </div>
      <pre><button [disabled]="loginForm.invalid"  type="submit"  class="btn btn-primary">Submit</button>  <button  type="reset"  class="btn btn-primary">Reset</button></pre> 
      </form>
      </div>
      </div>
      </div>
</div>