.card{
    width: 25rem;
    height: 30rem;
    margin:auto;
    border-radius: 20px;
    float:none;   
    margin-top: 10%;
    background-image: url('https://i.pinimg.com/originals/c5/f8/27/c5f8270957c465275d6b39808745ce6d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.boxsize{
    width: 20rem;
    
}
.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
label::after{
    content: "*";
    color: red;
}