@import "~bootstrap/dist/css/bootstrap.css";        
body{
    width: 100%;
    height: 880px;
    background-image: url('https://www.freepik.com/free-psd/online-shopping-with-computer-mockup-template-shopping-elements_13262899.htm?query=e%20commerce%20landing%20page');
  
    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    position: relative;
}