@import "~bootstrap/dist/css/bootstrap.css";        
body{
    width: 100%;
    height: 880px;
    background-image: url('https://img.freepik.com/free-photo/female-friends-out-shopping-together_53876-25041.jpg?w=2000');
  
    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    position: relative;
}